<ion-header>
  <ion-toolbar>
    <ion-title>
      OTP Verification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- No need for mobile number input field since OTP will be auto-retrieved from SMS -->
  
  <ion-item>
    <ion-label position="floating">Enter OTP</ion-label>
    <ion-input type="text" [(ngModel)]="enteredOtp"></ion-input>
  </ion-item>

  <ion-button expand="full" color="primary" (click)="verifyOtp()">Verify OTP</ion-button>
</ion-content>










